:root {
  --base-font-size: 16px;
  --primary-color: #5a9eff; /* Cute pink color */
  --secondary-color: #5ad67d; /* Cute green color */
  --text-color: #555;
  --accent-color: #007bff; /* Blue color */
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --background-color: #fff;
  --border-left-color: #f0f0f0;
  --block-color: #5a9eff;
}

html {
  font-size: var(--base-font-size); /* Set the base font size */
}

.restaurant-container {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 7rem;
  height: calc(100vh - 10rem); /* Set height to fill the viewport minus top and bottom margins */
  overflow-y: auto;
}

.restaurant-wrapper {
  width: 70%;
  padding: 0 1rem;
  flex-grow: 1;
  display: flex;
}

.restaurant {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px var(--shadow-color);
  margin-bottom: 1.5rem;
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
  position: relative;
  flex: 1;
}

.restaurant-details {
  padding: 1.5rem;
}

.restaurant-details h1 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  color: var(--primary-color); /* Cute pink color */
}

.category {
  font-size: 1.25rem;
  color: var(--secondary-color); /* Cute green color */
}

.headings {
  font-size: 2rem;
  color: var(--secondary-color); /* Cute green color */
  margin-bottom: 0.75rem;
}

.headings-bottom {
  font-size: 1.5rem;
  padding-left: 1.25rem;
  color: var(--secondary-color); /* Cute green color */
  margin-bottom: 0.75rem;
}

.description {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.restaurant ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: var(
    --block-color
  ); /* Block color at the bottom of the card */
}

.recommendations {
  width: 50%;
  padding-left: 1rem;
  overflow-y: auto;
}

.recommendation-items {
  display: flex;
  flex-direction: column;
}

.recommendation-item {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
}

.recommendation-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color); /* Cute pink color */
}

.recommendation-item .category {
  font-size: 1rem;
  color: var(--secondary-color); /* Cute green color */
}

.address {
  margin-top: 0.25rem;
  color: var(--text-color);
}

.rating {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.price {
  font-size: 0.875rem;
  color: var(--text-color);
}
.hours {
  font-size: 0.875rem;
  color: var(--text-color);
}
.misc {
  font-size: 0.875rem;
  color: var(--text-color);
}
.recommendation-item .recommendation-url {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--accent-color); /* Blue color */
  text-decoration: none;
}
